.slider {
  margin: 0 20px;
  overflow: "hidden";
  padding: 2rem 0;
}

.slider img {
  width: 100%;

  border-radius: 10px;
}

.react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
}

.custom-dot-list-style1 button {
  border: none;
  background: rgb(194, 190, 190);
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: rgb(30, 27, 27) !important;
}
