.react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
}

.custom-dot-list-style1 button {
  border: none;
  background: rgb(194, 190, 190);
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: rgb(255, 255, 255) !important;
}
